.puzzle-table {
  margin: 6px auto;
  border: 1px black solid;
}

.puzzle-row {
  border: 1px black solid;
}

.puzzle-cell {
  border: 1px black solid;
  width: 30px;
  height: 30px;
  text-align: center;
}
